@import '~grommet/scss/vanilla/index';
@import '~grommet/scss/hpe/index';
@import './rich-editor';

@import '~react-quill/dist/quill.snow';
@import '~react-quill/dist/quill.bubble';
@import '~react-quill/dist/quill.core';

@font-face {
  font-family: "Metric Black";
  src: url("#{$hpe-fonts-path}/MetricHPE-Web-Black.woff") format('woff');
}
@font-face {
  font-family: "Metric HPE";
  src: url("#{$hpe-fonts-path}/MetricHPE-Web-Regular.woff") format('woff');
  font-style: 'regular';
}

@font-face {
  font-family: "Metric HPE";
  src: url("#{$hpe-fonts-path}/MetricHPE-Web-Bold.woff") format('woff');
  font-weight: 700;
  font-style: 'bold';
}

@font-face {
  font-family: "Metric HPE";
  src: url("#{$hpe-fonts-path}/MetricHPE-Web-Semibold.woff") format('woff');
  font-weight: 600;
  font-style: 'semi-bold';
}

@font-face {
  font-family: "Metric HPE";
  src: url("#{$hpe-fonts-path}/MetricHPE-Web-Light.woff") format('woff');
  font-weight: 100;
  font-style: 'light';
}

.grommetux-background-color-index-neutral-3, .grommetux-background-color-index-neutral-7 {
	background-color: #0e243d;
}
.nav-sidebar {
	width: 78px !important;
	height: calc(100vh - 72px) !important;
}
.grommetux-split__column--fixed {
	height: calc(100vh - 72px);
}
.grommetux-sidebar--full {
	height: 100%;
}

.grommetux-anchor__icon {
	padding-top: 12px;
	padding-left: 0px;
	padding-right: 0px;
}
.introduction-header {
	padding-left: 24px;
	font-size: 32px;
	font-weight: 700;
	> a {
		color: #0e243d !important;
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
}
.instruction-header {
	padding-top: 5px !important;
	padding-left: 35px;
	padding-bottom: 5px !important;
	height: 72px;
	background: #eee;
	font-size: 24px;
	z-index: 0;
	.instruction-title {
	}
}
.instruction-section {
	padding: 20px;
	background: #f6f6f6;
	overflow-x: auto;
	max-height: calc(100vh - 180px);
}
.instuctions-footer {
	bottom: 10px;
	background: #eee;
}
.introductionItem {
	margin-top: 8px;
	margin-bottom: 15px;
	background: white;
	-webkit-box-shadow: 1px 3px 9px 0px rgba(187,187,187,1);
	-moz-box-shadow: 1px 3px 9px 0px rgba(187,187,187,1);
	box-shadow: 1px 3px 9px 0px rgba(187,187,187,1);
	width: 100%;
	display: inline-flex;
	.introduction-item-first-col {
		justify-content: space-between;
		white-space: nowrap;
		width: 50%;
	}
	.secondColumBox {
		justify-content: space-between;
		width: 50%;
	}
	.grommetux-box--pad-medium {
		padding: 12px;
	}
}
@media screen and (max-width: 917px) {
	.introductionItem {
		display: block;
		.introduction-item-first-col {
			justify-content: space-between;
			white-space: nowrap;
			width: 100%;
		}
		.secondColumBox {
			justify-content: space-between;
			width: 100%;
		}
		.timeline {
			margin-right: 10px;
		}
	}
}
.instruction-item-image {
	border-radius: 25px;
	width: 50px;
	height: 50px;
}

.instructionName {
	margin-left: 20px;
	font-size: 18px;
	margin-top: 6px;
	max-width: 58%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	> span {
		font-weight: 600;
	}
}
@media screen and (min-width: 1070px) {
	.instructionName {
		max-width: 100%;
	}
}
.instructionName-right {
	margin-left: 20px;
	font-size: 18px;
	margin-top: 6px;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	> span {
		font-weight: 600;
	}
}
.pull-right {
	float: right;
}
.grommetux-box--direction-row.grommetux-box--responsive {
	flex-direction: row !important;
}

.detail-view-class {
	padding: 13px;
	> a {
		color: #9a9a9a;
		font-size: 14px;
		font-weight: 500;
		&:hover, &:focus, &:active {
			color: #9a9a9a;
		}
	}
}
.slide-bar-content {
	background: white;
	.container {
		height: calc(100% - 160px);
		> div {
			text-align: right;
			padding: 0px;
			margin-bottom: 15px;
			margin-right: 30px;
			margin-left: 30px;
			display: flex;
			justify-content: space-between;
			.multistep__btn--next {
				background: #4299ff;
				color: white;
				border-color: #4299ff;
				border-radius: 0px;
				font-size: 17px;
				font-weight: 500;
			}
			.multistep__btn--prev {
				background: white;
				color: #3d3d3d;
				border-color: #6f7e89;
				border-radius: 0px;
				font-size: 17px;
				font-weight: 500;
			}
		}
		.rdw-editor-wrapper {
			height: calc(100% - 25px);
		}
	}
	.slide-bar-title {
		padding: 10px;
		padding-left: 30px;
		> div {
			padding: 0px;
			font-size: 27px;
			font-weight: 400;
		}
	}
	.slide-bar-section {
		padding: 10px;
		padding-left: 30px;
		height: 100%;
		.slide-bar-search {
			margin-top: 30px;
			font-size: 19px;
			height: 100%;
			.slide-bar-search-bar {
				position: absolute;
				margin-top: 31px;
				width: 90%;
				input {
					margin-top: 10px;
					padding-top: 5px;
					padding-bottom: 5px;
					width: 100%;
				}
				svg {
					margin-top: 5px;
				}
			}
		}
	}
	.progtrckr {
		display: none;
	}
}
.login-form-box {
	background: url('img/login.png');
	background-size: 100% 100%;
	display: block;
	padding: 30px;
}
.login-form-section {
	background: #0e243d;
    float: right;
    padding-bottom: 54px;
}

@media screen and (min-width: 320px) {
	.login-form-section {
		width: 100%;
		margin: 150px 0px 0px 0px;
	}
}
@media screen and (min-width: 480px) {
	.login-form-section {
		width: 80%;
		margin: 150px 10% 0px 0px;
	}
}
@media screen and (min-width: 648px) {
	.login-form-section {
		width: 60%;
		margin: 150px 10% 0px 0px;
	}
}

@media screen and (min-width: 768px) {
	.login-form-section {
		width: 50%;
		margin: 150px 10% 0px 0px;
	}
}
@media screen and (min-width: 997px) {
	.login-form-section {
		width: 40%;
	}
}





.grommetux-heading.grommetux-heading--strong {
	font-size: 48px !important;
	font-family: 'Metric Black';
	letter-spacing: 1.4px;
	line-height: 24px;
	padding: 0px;
	color: white;
	font-weight: 900;
	font-style: black;

}
.grommetux-paragraph.grommetux-paragraph--align-start {
	color: #f5a623;
	font-size: 24px !important;
	font-family: 'Metric HPE';
}
.login-form-section .grommetux-box {
	display: block;
	text-align: center;
	p {
		text-align: center;
	}
}
.login-form-section {
	input {
		background: white;
	}
	
	.signin-button {
		width: 100% !important;
		border: none !important;
		background: #4299ff !important;
		color: white !important;
		max-width: 100% !important;
		&:hover {
			cursor: pointer;
		}
	}
	footer {
		padding: 0px;
		text-align: left !important;
		label.grommetux-check-box {
			position: absolute;
			width: 100%;
			margin-top: 45px;
			span {
				span {
					background: white;
				}
			}
			
			.grommetux-check-box__label {
				color: white;
				span {
					background: transparent;
				}
			}
			&:hover {
				.grommetux-check-box__label {
					color: white;
				}
				.grommetux-check-box__control {
					border: none;
				}
			}
		}
		.grommetux-button {
			width: 100%;
			max-width: 100%;
			background: #4299ff;
			border-radius: 0px;
			border: none;
			&:hover {
				border: none;
				box-shadow: none !important;
			}
		}
	}
	.login-form-foot {
		text-align: left;
	    width: 75%;
		color: white;
	    margin-top: 14px;
	}
}
.login-form-box-footer {
	width: 100%;
	height: 42px;
	color: #ffffff;
	font-family: "Metric HPE";
	font-size: 24px;
	font-weight: 600;
	line-height: 42px;
	font-style: 'semi-bold';
	padding-top: 200px !important;
}
.footer-menus {
	width: 100%;
	.title {
		font-weight: 700;
	}
	a.grommetux-anchor {
		text-decoration: none;
		font-family: "Metric HPE";
		font-size: 17px;
		color: #222;
		font-weight: 400;
	}
}
.login-form-footer-menu {
	a {
		color: #333;
		font-weight: 500;
		font-size: 15px;
	}
}
.login-page-paragraph {
	color: #333;
	font-weight: 500;
	font-size: 15px;
}
.landing-box {
	background: url(img/rectangle.png);
	background-size: 100% 100%;
	display: block;
	background-color: #555;
	padding-left: 30px;
}
.landing-logo {
	font-size: 48px !important;
	font-family: 'Metric Black';
	letter-spacing: 1.4px;
	line-height: 24px;
	padding: 0px;
	color: white !important;
	font-weight: 500;
	font-style: black;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}
.landing-nav-menus {
	a {
		padding: 10px;
		color: white;
		font-weight: 400;
		text-decoration: none;
	}
	.landing-sign-button {
		width: 115px;
		height: 54px;
		border-radius: 8px;
		border: 3px solid #4299ff;
		span {
			width: 60px;
			height: 24px;
			color: #ffffff;
			font-family: "Metric HPE";
			font-size: 22px;
			font-weight: 600;
		}
		&:hover {
			box-shadow: none !important;
		}
	}
}
.landing-page-menu {
	display: none !important;
	border: 3px solid #4299ff;
	border-radius: 10px;
}
.landing-page-menus {
	display: inherit;
}

@media screen and (max-width: 650px) {
	.landing-page-menu {
		display: block !important;
	}
	.landing-page-menus {
		display: none;
	}
}

.landing-title {
	white-space: initial;
	span {
		color: #ffffff;
		font-family: "Metric HPE";
		font-size: 80px;
		font-weight: 600;
		line-height: 85px;
	}
}


@media screen and (min-width: 320px) {
	.landing-title {
		width: 100%;
	}
}
@media screen and (min-width: 480px) {
	.landing-title {
		width: 90%
	}
}
@media screen and (min-width: 648px) {
	.landing-title {
		width: 80%
	}
}

@media screen and (min-width: 768px) {
	.landing-title {
		width: 70%
	}
}
@media screen and (min-width: 997px) {
	.landing-title {
		width: 60%
	}
}



.get-started-div {
	.get-started-title {
		color: #f5a623;
		font-family: "Metric HPE";
		font-size: 24px;
	}
	.get-started-form {
		input {
			background: white;
			width: 65%;
		}
		.get-started-button {
			background: #0d233d;
			color: white;
			border: none;
			box-shadow: none !important;
			width: 30%;
			padding-top: 12px;
			padding-bottom: 15px;
			padding-left: 5px;
			padding-right: 5px;
			text-decoration: none;
		}
	}
	padding-left: 30px;
	padding-right: 30px;
	color: #f5a623;
}
.landing-footer-menu {
	margin-top: 15px;
	color: white;
	margin-bottom: 170px;
	a {
		color: white !important;
		font-weight: 500;
		font-size: 15px;
	}
}
.timeline {
	display: inline-flex;
	list-style: none;
	margin-top: 10px;
	li {
		&:last-child {
			padding-right: 0px;
		}
		.date {
			font-size: smaller;
			margin-left: -15px;
			margin-top: 15px;
		}
		.date-last {
			font-size: smaller;
			margin-left: -15px;
			margin-top: 5px;
		}
	}
	.circle {
		width: 24px;
		height: 24px;
		border-radius: 12px;
		background: #4496ff;
	}
	.line {
		background: #4496ff;
		height: 1px;
		border: 1px solid #4496ff;
		width: 50px;
		margin-top: -12px;
		margin-left: 24px;
	}
}

.ql-formats {
	button {
		min-width: 0px !important;
	}
}
.main-content {
	width: calc(100% - 78px);
}




/*
Calendar CSS
*/
.Calendar {
	padding-left: 20px;
}

.Calendar-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.Calendar-header {
  height: 50px;
  background: #0d233d;
  color: #fff;
  text-align: center;
  line-height: 50px;
  display: flex;
  font-size: 20px;
  justify-content: space-between;
}

.Calendar-header button {
  width: 50px;
  font-size: 20px;
  border: 0;
  background: transparent;
  color: #ddd;
  cursor: pointer;
}

.Calendar-grid-item {
  flex: 0 14.28571%;
  text-align: center;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Calendar-grid-item.active {
	border: 2px black solid !important;
}
.Calendar-grid-item.nextMonth,
.Calendar-grid-item.prevMonth {
  color: #999;
}

.Calendar-grid-item:nth-child(7n+1) {
  border-left: 1px solid #ddd;
}

.Calendar-grid-item:nth-child(-n+7) {
  border-top: 1px solid #ddd;
}