@import '~grommet/scss/vanilla/index';
@import '~grommet/scss/hpe/index';
@import './rich-editor';

@import '~react-quill/dist/quill.snow';
@import '~react-quill/dist/quill.bubble';
@import '~react-quill/dist/quill.core';

@font-face {
  font-family: "Metric Black";
  src: url("#{$hpe-fonts-path}/MetricHPE-Web-Black.woff") format('woff');
}
@font-face {
  font-family: "Metric HPE";
  src: url("#{$hpe-fonts-path}/MetricHPE-Web-Regular.woff") format('woff');
  font-style: 'regular';
}

@font-face {
  font-family: "Metric HPE";
  src: url("#{$hpe-fonts-path}/MetricHPE-Web-Bold.woff") format('woff');
  font-weight: 700;
  font-style: 'bold';
}

@font-face {
  font-family: "Metric HPE";
  src: url("#{$hpe-fonts-path}/MetricHPE-Web-Semibold.woff") format('woff');
  font-weight: 600;
  font-style: 'semi-bold';
}

@font-face {
  font-family: "Metric HPE";
  src: url("#{$hpe-fonts-path}/MetricHPE-Web-Light.woff") format('woff');
  font-weight: 100;
  font-style: 'light';
}

.grommetux-background-color-index-neutral-3, .grommetux-background-color-index-neutral-7 {
	background-color: #0e243d;
}
.grommetux-sidebar--xsmall {
	width: 78px;
}

.grommetux-split__column--fixed {
	height: calc(100vh - 72px);
}
.grommetux-sidebar--full {
	height: 100%;
}

.grommetux-anchor__icon {
	padding-top: 12px;
	padding-left: 0px;
	padding-right: 0px;
}
.introduction-header {
	padding-left: 24px;
	font-size: 32px;
	font-weight: 700;
	> a {
		color: #0e243d !important;
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
}
.instruction-header {
	padding-top: 5px !important;
	padding-left: 35px;
	padding-bottom: 5px !important;
	height: 72px;
	background: #eee;
	font-size: 24px;
	z-index: 0;
	.instruction-title {
	}
}
.instruction-section {
	padding: 20px;
	background: #f6f6f6;
	overflow-x: auto;
}
.introductionItem {
	margin-top: 8px;
	margin-bottom: 15px;
	background: white;
	height: 90px;
	-webkit-box-shadow: 1px 3px 9px 0px rgba(187,187,187,1);
	-moz-box-shadow: 1px 3px 9px 0px rgba(187,187,187,1);
	box-shadow: 1px 3px 9px 0px rgba(187,187,187,1);
}
.instruction-item-image {
	border-radius: 25px;
	width: 50px;
	height: 50px;
}
.introductionItem .grommetux-box--pad-medium {
	padding: 12px;
}
.instructionName {
	margin-left: 20px;
    font-size: 18px;
    margin-top: 6px;
    > span {
		font-weight: 600;
    }
}
.pull-right {
	float: right;
}
.secondColumBox {
	justify-content: space-between;
}
.introduction-item-first-col {
	justify-content: space-between;
}
.detail-view-class {
	padding: 13px;
	> a {
		color: #9a9a9a;
		font-size: 14px;
		font-weight: 500;
		&:hover, &:focus, &:active {
			color: #9a9a9a;
		}
	}
}
.slide-bar-content {
	background: white;
	.container {
		height: calc(100% - 160px);
		> div {
			text-align: right;
			padding: 0px;
			margin-bottom: 15px;
			margin-right: 30px;
			margin-left: 30px;
			display: flex;
			justify-content: space-between;
			.multistep__btn--next {
				background: #4299ff;
				color: white;
				border-color: #4299ff;
				border-radius: 0px;
				font-size: 17px;
				font-weight: 500;
			}
			.multistep__btn--prev {
				background: white;
				color: #3d3d3d;
				border-color: #6f7e89;
				border-radius: 0px;
				font-size: 17px;
				font-weight: 500;
			}
		}
		.rdw-editor-wrapper {
			height: calc(100% - 25px);
		}
	}
	.slide-bar-title {
		padding: 10px;
		padding-left: 30px;
		> div {
			padding: 0px;
			font-size: 27px;
			font-weight: 400;
		}
	}
	.slide-bar-section {
		padding: 10px;
		padding-left: 30px;
		height: 100%;
		.slide-bar-search {
			margin-top: 30px;
			font-size: 19px;
			height: 100%;
			.slide-bar-search-bar {
				position: absolute;
				margin-top: 31px;
				width: 90%;
				input {
					margin-top: 10px;
					padding-top: 5px;
					padding-bottom: 5px;
					width: 100%;
				}
				svg {
					margin-top: 5px;
				}
			}
		}
	}
	.progtrckr {
		display: none;
	}
}
.login-form-box {
	background: url('http://placeimg.com/640/480/any');
	display: block;
}
.login-form-section {
	background: #0e243d;
    float: right;
    margin: 150px 100px 0px 0px;
    padding-bottom: 54px;
}
.grommetux-heading.grommetux-heading--strong {
	font-size: 48px !important;
	font-family: 'Metric Black';
	letter-spacing: 1.4px;
	line-height: 24px;
	padding: 0px;
	color: white;
	font-weight: 900;
	font-style: black;

}
.grommetux-paragraph.grommetux-paragraph--align-start {
	color: #f5a623;
	font-size: 24px !important;
	font-family: 'Metric HPE';
}
.login-form-section .grommetux-box {
	display: block;
	text-align: center;
	p {
		text-align: center;
	}
}
.login-form-section {
	input {
		background: white;
	}
	
	.signin-button {
		width: 100% !important;
		border: none !important;
		background: #4299ff !important;
		color: white !important;
		max-width: 100% !important;
		&:hover {
			cursor: pointer;
		}
	}
	footer {
		padding: 0px;
		text-align: left !important;
		label.grommetux-check-box {
			position: absolute;
			width: 100%;
			margin-top: 45px;
			span {
				span {
					background: white;
				}
			}
			
			.grommetux-check-box__label {
				color: white;
				span {
					background: transparent;
				}
			}
			&:hover {
				.grommetux-check-box__label {
					color: white;
				}
				.grommetux-check-box__control {
					border: none;
				}
			}
		}
		.grommetux-button {
			width: 100%;
			max-width: 100%;
			background: #4299ff;
			border-radius: 0px;
			border: none;
			&:hover {
				border: none;
				box-shadow: none !important;
			}
		}
	}
	.login-form-foot {
		text-align: left;
	    width: 75%;
		color: white;
	    margin-top: 14px;
	}
}
.login-form-box-footer {
	width: 100%;
	height: 42px;
	color: #ffffff;
	font-family: "Metric HPE";
	font-size: 24px;
	font-weight: 600;
	line-height: 42px;
	font-style: 'semi-bold';
	padding-top: 200px !important;
}
.footer-menus {
	width: 100%;
	.title {
		font-weight: 700;
	}
	a.grommetux-anchor {
		text-decoration: none;
		font-family: "Metric HPE";
		font-size: 17px;
		color: #222;
		font-weight: 400;
	}
}
.login-form-footer-menu {
	a {
		color: #333;
		font-weight: 500;
		font-size: 15px;
	}
}
.login-page-paragraph {
	color: #333;
	font-weight: 500;
	font-size: 15px;
}
.landing-box {
	background: url(img/rectangle.png);
	background-size: 100% 100%;
	display: block;
	background-color: #555;
}
.landing-logo {
	font-size: 48px !important;
	font-family: 'Metric Black';
	letter-spacing: 1.4px;
	line-height: 24px;
	padding: 0px;
	color: white !important;
	font-weight: 900;
	font-style: black;
}
.landing-nav-menus {
	a {
		padding: 10px;
		color: white;
		font-weight: 400;
		text-decoration: none;
	}
	.landing-sign-button {
		width: 115px;
		height: 51px;
		border-radius: 8px;
		border: 3px solid #4299ff;
		span {
			width: 60px;
			height: 24px;
			color: #ffffff;
			font-family: "Metric HPE";
			font-size: 22px;
			font-weight: 600;
		}
		&:hover {
			box-shadow: none !important;
		}
	}
}
.landing-title {
	white-space: initial;
	width: 50%;
	span {
		color: #ffffff;
		font-family: "Metric HPE";
		font-size: 90px;
		font-weight: 600;
		line-height: 85px;
	}
}
.get-started-div {
	.get-started-title {
		color: #f5a623;
		font-family: "Metric HPE";
		font-size: 24px;
	}
	.get-started-form {
		width: 50%;
		input {
			background: white;
			width: 65%;
		}
		.get-started-button {
			background: #0d233d;
			color: white;
			border: none;
			box-shadow: none !important;
			width: 30%;
			padding-top: 12px;
			padding-bottom: 15px;
		}
	}
	padding-left: 30px;
	padding-right: 30px;
	color: #f5a623;
}
.landing-footer-menu {
	margin-top: 15px;
	color: white;
	margin-bottom: 170px;
	a {
		color: white !important;
		font-weight: 500;
		font-size: 15px;
	}
}
.timeline {
	display: inline-flex;
	list-style: none;
	margin-top: 10px;
	li {
		padding-right: 50px;
		span {
			position: absolute;
			font-size: smaller;
			margin-left: -15px;
			margin-top: 8px;
		}
	}
	.circle {
		width: 24px;
		height: 24px;
		border-radius: 12px;
		background: #4496ff;
	}
	.line {
		position: absolute;
		background: #4496ff;
		height: 1px;
		border: 1px solid #4496ff;
		width: 50px;
		margin-top: -12px;
		margin-left: 24px;
	}
}

.ql-formats {
	button {
		min-width: 0px !important;
	}
}