@import '~grommet/scss/vanilla/index';
@import '~grommet/scss/hpe/index';
@import './rich-editor';

@import '~react-quill/dist/quill.snow';
@import '~react-quill/dist/quill.bubble';
@import '~react-quill/dist/quill.core';

@font-face {
	font-family: "Metric Black";
	src: url("#{$hpe-fonts-path}/MetricHPE-Web-Black.woff") format('woff');
}
@font-face {
	font-family: "Metric HPE";
	src: url("#{$hpe-fonts-path}/MetricHPE-Web-Regular.woff") format('woff');
	font-style: 'regular';
}

@font-face {
	font-family: "Metric HPE";
	src: url("#{$hpe-fonts-path}/MetricHPE-Web-Bold.woff") format('woff');
	font-weight: 700;
	font-style: 'bold';
}

@font-face {
  font-family: "Metric HPE";
  src: url("#{$hpe-fonts-path}/MetricHPE-Web-Semibold.woff") format('woff');
  font-weight: 600;
  font-style: 'semi-bold';
}

@font-face {
  font-family: "Metric HPE";
  src: url("#{$hpe-fonts-path}/MetricHPE-Web-Light.woff") format('woff');
  font-weight: 100;
  font-style: 'light';
}

.grommetux-background-color-index-neutral-3, .grommetux-background-color-index-neutral-7 {
	background-color: #0e243d;
}
.nav-sidebar {
	width: 78px !important;
	height: calc(100vh - 72px) !important;
}
.grommetux-split__column--fixed {
	height: calc(100vh - 72px);
}
.grommetux-sidebar--full {
	height: 100%;
}

.grommetux-anchor__icon {
	padding-top: 12px;
	padding-left: 0px;
	padding-right: 0px;
}
.introduction-header {
	padding-left: 24px;
	font-size: 32px;
	font-weight: 700;
	background: #ffffff;
	> a {
		color: #0e243d !important;
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
}
.instruction-header {
	padding-top: 5px !important;
	padding-left: 35px;
	padding-bottom: 5px !important;
	height: 72px;
	background: #eee;
	font-size: 24px;
	z-index: 0;
	.instruction-title {
	}
}
.instruction-section {
	padding: 20px;
	background: #f6f6f6;
	overflow-y: auto;
	max-height: calc(100vh - 150px);
}
.instuctions-footer {
	padding-left: 30px;
    padding-top: 5px;
    font-family: Metric HPE;
    font-weight: 600;
	background: #eee;
}
.introductionItem {
	margin-top: 8px;
	margin-bottom: 15px;
	background: white;
	-webkit-box-shadow: 1px 3px 9px 0px rgba(187,187,187,1);
	-moz-box-shadow: 1px 3px 9px 0px rgba(187,187,187,1);
	box-shadow: 1px 3px 9px 0px rgba(187,187,187,1);
	width: 100%;
	display: inline-flex;
	.introduction-item-first-col {
		justify-content: space-between;
		white-space: nowrap;
		width: 50%;
	}
	.secondColumBox {
		justify-content: space-between;
		width: 50%;
	}
	.grommetux-box--pad-medium {
		padding: 12px;
	}
}
@media screen and (max-width: 917px) {
	.introductionItem {
		display: block;
		.introduction-item-first-col {
			justify-content: space-between;
			white-space: nowrap;
			width: 100%;
		}
		.secondColumBox {
			justify-content: space-between;
			width: 100%;
		}
		.timeline {
			margin-right: 10px;
		}
	}
}
.instruction-item-image {
	border-radius: 25px;
	width: 50px;
	height: 50px;
}

.instructionName {
	margin-left: 20px;
	font-size: 18px;
	max-width: 58%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	> span {
		font-weight: 600;
	}
}
@media screen and (min-width: 1070px) {
	.instructionName {
		max-width: 100%;
	}
}
.instructionName-right {
	margin-left: 20px;
	font-size: 18px;
	margin-top: 6px;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	> span {
		font-weight: 600;
	}
}
.pull-right {
	float: right;
	text-decoration: none;
}
.grommetux-box--direction-row.grommetux-box--responsive {
	flex-direction: row !important;
}

.detail-view-class {
	padding: 13px;
	> a {
		color: #9a9a9a;
		font-size: 14px;
		font-weight: 500;
		&:hover, &:focus, &:active {
			color: #9a9a9a;
		}
	}
}
.slide-bar-content {
	background: white;
	.container {
		height: calc(100% - 160px);
		> div {
			text-align: right;
			padding: 0px;
			margin-bottom: 15px;
			margin-right: 30px;
			margin-left: 30px;
			display: flex;
			justify-content: space-between;
			.multistep__btn--next {
				background: #4299ff;
				color: white;
				border-color: #4299ff;
				border-radius: 0px;
				font-size: 17px;
				font-weight: 500;
			}
			.multistep__btn--prev {
				background: white;
				color: #3d3d3d;
				border-color: #6f7e89;
				border-radius: 0px;
				font-size: 17px;
				font-weight: 500;
			}
		}
		.rdw-editor-wrapper {
			height: calc(100% - 25px);
		}
	}
	.slide-bar-title {
		padding: 10px;
		padding-left: 30px;
		> div {
			padding: 0px;
			font-size: 27px;
			font-weight: 400;
		}
	}
	.slide-bar-section {
		padding: 10px;
		padding-left: 30px;
		height: 100%;
		.slide-bar-search {
			margin-top: 30px;
			font-size: 19px;
			height: 100%;
			.slide-bar-search-bar {
				position: absolute;
				margin-top: 31px;
				width: 90%;
				input {
					margin-top: 10px;
					padding-top: 5px;
					padding-bottom: 5px;
					width: 100%;
				}
				svg {
					margin-top: 5px;
				}
			}
		}
	}
	.progtrckr {
		display: none;
	}
}


.login-form-box {
	background: url("img/login.png") center center / cover no-repeat;
	display: block;
	padding: 30px;
}
.login-form-section {
	background: #0e243d;
	float: right;
	padding-bottom: 54px;
}

.help-sidebar-next {
	background: #4299ff !important;
	color: white !important;
	border-color: #4299ff !important;
	border-radius: 0px;
	font-size: 17px;
	font-weight: 500;
	width: 100px;
	margin-bottom: 20px;
}


@media screen and (min-width: 320px) {
	.login-form-section {
		width: 100%;
		margin: 150px 0px 0px 0px;
	}
}
@media screen and (min-width: 480px) {
	.login-form-section {
		width: 80%;
		margin: 150px 10% 0px 0px;
	}
}
@media screen and (min-width: 648px) {
	.login-form-section {
		width: 60%;
		margin: 150px 10% 0px 0px;
	}
}

@media screen and (min-width: 768px) {
	.login-form-section {
		width: 50%;
		margin: 150px 10% 0px 0px;
	}
}
@media screen and (min-width: 997px) {
	.login-form-section {
		width: 40%;
	}
}





.grommetux-heading.grommetux-heading--strong {
	font-size: 48px !important;
	font-family: 'Metric Black';
	letter-spacing: 1.4px;
	line-height: 24px;
	padding: 0px;
	color: white;
	font-weight: 900;
	font-style: black;
}
.grommetux-paragraph.grommetux-paragraph--align-start {
	color: #f5a623;
	font-size: 24px !important;
	font-family: 'Metric HPE';
}
.login-form-section .grommetux-box {
	display: block;
	text-align: center;
	p {
		text-align: center;
	}
}
.login-form-section {
	input {
		background: white;
	}
	
	.signin-button {
		width: 100% !important;
		border: none !important;
		background: #4299ff !important;
		color: white !important;
		max-width: 100% !important;
		&:hover {
			cursor: pointer;
		}
	}
	footer {
		padding: 0px;
		text-align: left !important;
		label.grommetux-check-box {
			position: absolute;
			width: 100%;
			margin-top: 45px;
			span {
				span {
					background: white;
				}
			}
			
			.grommetux-check-box__label {
				color: white;
				span {
					background: transparent;
				}
			}
			&:hover {
				.grommetux-check-box__label {
					color: white;
				}
				.grommetux-check-box__control {
					border: none;
				}
			}
		}
		.grommetux-button {
			width: 100%;
			max-width: 100%;
			background: #4299ff;
			border-radius: 0px;
			border: none;
			&:hover {
				border: none;
				box-shadow: none !important;
			}
		}
	}
	.login-form-foot {
		text-align: left;
	    width: 75%;
		color: white;
	    margin-top: 14px;
	}
}
.login-form-box-footer {
	width: 100%;
	height: 42px;
	color: #ffffff;
	font-family: "Metric HPE";
	font-size: 24px;
	font-weight: 600;
	line-height: 42px;
	font-style: 'semi-bold';
	padding-top: 200px !important;
}
.footer-menus {
	width: 100%;
	.title {
		font-weight: 700;
	}
	a.grommetux-anchor {
		text-decoration: none;
		font-family: "Metric HPE";
		font-size: 17px;
		color: #222;
		font-weight: 400;
	}
}
.login-form-footer-menu {
	a {
		color: #333;
		font-weight: 500;
		font-size: 15px;
	}
}
.login-page-paragraph {
	color: #333;
	font-weight: 500;
	font-size: 15px;
}
.landing-box {
	background: url("img/rectangle.png") center center / cover no-repeat;
	display: block;
	background-color: #555;
	padding-left: 30px;
}
.grommetux-hero__foreground {
	align-self: flex-start;
	padding: 25px;
	font-family: 'Metric Black';
	.feature-header {
		font-size: 45px;
		padding:0px;
		text-decoration: none;
		padding-left: 60px;
		width: 50%;
		&:hover {
			text-decoration:none;
		}
	}
	.feature-heading {
		width: 50%;
		.feature-label {
			color: #666666;
			font-family: "Metric HPE";
			font-size: 16px;
			font-weight: 300;
			letter-spacing: 4px;
			line-height: 20px;
			text-transform: uppercase;
		}
		.feature-accelerate {
			color: #333333;
			font-family: "Metric HPE";
			font-size: 48px;
			font-weight: 600;
			line-height: 54px;
			width: 75%;
		}
		.feature-hpe {
			width: 75%;
			margin-top: 30px;
			color: #666666;
			font-family: "Metric HPE";
			font-size: 24px;
			font-weight: 300;
			line-height: 30px;
		}
		.feature-more {
			margin-top: 30px;
			color: #666666;
			font-family: "Metric HPE";
			font-size: 16px;
			font-weight: 600;
			.feature-arrow {
				stroke: #666666;
			}
			.grommetux-anchor {
				color: #666666;
				text-decoration: none;

			}
		}
	}
	@media screen and (min-width: 735px){
	.feature-heading {
			width: 25%
		}
	}
}


.feature-section {
	align-items: center;
	text-align: center;
	padding-top: 48px;
	padding-bottom: 48px;
	.feature-section-first {
		width: 75%;
		padding-bottom: 20px;
		.feature-section-first-title {
			color: #333333;
			padding-top: 30px;
			padding-bottom: 30px;
			font-family: "Metric HPE";
			font-size: 48px;
			font-weight: 600;
			line-height: 54px;
		}
		.feature-section-first-content {
			padding-bottom: 30px;
			padding-left: 60px;
			padding-right: 60px;
			color: #666666;
			font-family: "Metric HPE";
			font-size: 32px;
			font-weight: 300;
			line-height: 38px;
		}
	}
	.feature-section-second {
		display: flex;
		width: 75%;
		padding-top: 50px;
	    box-sizing: inherit;
	    .feature-section-second-items{
	    	align-items: center;
	    	text-align: center;
	    	width: 50%;
	    	.feature-section-headline {
	    		font-weight: 600;
	    		margin: 30px;
	    	}
	    }
	}
}

.feature-card-section {
	background-color: #425563;
	align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
	.feature-card-box-title {
    	color: #ffffff;
		font-family: "Metric HPE";
		font-size: 48px;
		font-weight: 600;
		line-height: 54px;
		margin-bottom: 20px;
    }
    .feature-card-box {
    	padding-bottom: 30px;
	.feature-card-item {
		background-color: #ffffff;
		color: #333;
		margin: 12px;
		.grommetux-heading {
			color: #333333;
		    font-family: "Metric HPE";
		    font-size: 40px;
		    font-weight: 600;
		    line-height: 54px;
		}
		.grommetux-anchor {
			text-decoration: none;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
}

@media screen and (min-width: 45em){
	width: 100%;
}

.landing-logo {
	font-size: 48px !important;
	font-family: 'Metric Black';
	letter-spacing: 1.4px;
	line-height: 24px;
	padding: 0px;
	color: white !important;
	font-weight: 500;
	font-style: black;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}
.landing-nav-menus {
	a {
		padding: 10px;
		color: white;
		font-weight: 400;
		text-decoration: none;
	}
	.landing-sign-button {
		width: 115px;
		height: 54px;
		border-radius: 8px;
		border: 3px solid #4299ff;
		span {
			width: 60px;
			height: 24px;
			color: #ffffff;
			font-family: "Metric HPE";
			font-size: 22px;
			font-weight: 600;
		}
		&:hover {
			box-shadow: none !important;
		}
	}
}
.landing-page-menu {
	display: none !important;
	border: 3px solid #4299ff;
	border-radius: 10px;
}
.landing-page-menus {
	display: inherit;
	> a {
		text-decoration: none;
		padding-left: 30px;
		font-family: "Metric HPE";
		font-size: 22px;
		font-weight: 600;
		color: white !important;
		&:hover {
			text-decoration: none;
			color: white;
		}
	}
}

@media screen and (max-width: 650px) {
	.landing-page-menu {
		display: block !important;
	}
	.landing-page-menus {
		display: none;
	}
}

.landing-title {
	white-space: initial;
	span {
		color: #ffffff;
		font-family: "Metric HPE";
		font-size: 80px;
		font-weight: 600;
		line-height: 85px;
	}
}


@media screen and (min-width: 320px) {
	.landing-title {
		width: 100%;
	}
}
@media screen and (min-width: 480px) {
	.landing-title {
		width: 90%
	}
}
@media screen and (min-width: 648px) {
	.landing-title {
		width: 80%
	}
}

@media screen and (min-width: 768px) {
	.landing-title {
		width: 70%
	}
}
@media screen and (min-width: 997px) {
	.landing-title {
		width: 60%
	}
}
.grommetux-hero__foreground {
	.pricing-header {
		padding-right: 30px;
		.pricing-title {
			color: #ffffff;
			font-family: "Metric HPE";
			font-size: 48px;
			font-weight: 900;
			letter-spacing: 1.4px;
			line-height: 24px;
		    text-decoration: none;
			&:hover {
				text-decoration: none;
				}
			}
			.pricing-menu {
			margin-right: 65px;
			justify-content: flex-end;
			color: #ffffff;
			font-family: "Metric HPE";
			font-size: 22px;
			font-weight: 600;
			line-height: 24px;
			> a {
				text-decoration: none;
				padding-left: 30px;
				&:hover {
					text-decoration: none;
				}
		}
		}
		.pricing-button {
			font-family: "Metric HPE";
			color: #ffffff;
			font-size: 22px;
			font-weight: 600;
			line-height: 24px;
		}
	}

	.pricing-section {
		background-color: #FFFFFF;
  		width: 85%;
  		margin: auto;
  		margin-top: 100px;
  		.pricing-section-up {
  			 text-align: center;
  			 align-items: center;
  			 margin-top: 50px;
  			.pricing-section-up-title {
  				color: #333333;
				font-family: "Metric HPE";
				font-size: 48px;
				font-weight: 600;
				line-height: 54px;
  			}
  			.pricing-section-up-paragragh {
  				color: #666666;
				font-family: "Metric HPE";
				font-size: 20px;
				font-weight: 300;
				line-height: 29px;
  			}
  		}
  		.pricing-section-down {  			
			.pricing-section-down-item {
				align-items: center;
				margin: 45px;
				width: 49%;
    			.pricing-section-down-moneytype {
					color: #333333;
					font-family: "Metric HPE";
					font-size: 32px;
					font-weight: 600;
					line-height: 54px;
					margin-top: 0px;
		    		margin-bottom: 24px;
		    		    margin-bottom: 0px;
	  			}
	  			.pricing-section-down-moneysymbol {
	  				color: #9b9b9b;
					font-family: "Metric HPE";
					font-size: 42px;
					font-weight: 600;
					line-height: 54px;
					margin-top: 0px;
	    			margin-bottom: 24px;
	    			    margin-bottom: 0px;
	  			}
	  			.pricing-section-down-moneynumber {
	  				color: #333333;
					font-family: "Metric HPE";
					font-size: 144px;
					font-weight: 600;
					line-height: 54px;
					margin-top: 0px;
	    			margin-bottom: 24px;
	    			    margin-bottom: 0px;
	  			}
	  			.pricing-section-down-paragragh {
			    margin-top: 40px;
				color: #666666;
				font-family: "Metric HPE";
				font-size: 20px;
				font-weight: 300;
				line-height: 30px;
				}
				.pricing-section-down-item-button {
					width: 100%;
					background: #4299ff;
					border-color: #4299ff;
					margin: 30px;
					font-family: "Metric HPE";
				    font-size: 20px;
				    font-weight: 600;
				    line-height: 30px;
				}
			}
			.verticalline {
				width: 2px;
				background-color: #999999;
				margin-top: 50px;
				margin-bottom: 70px;
			}
			
  		}
	}	
}
.pricing-section {
	align-items: center;
	padding-top: 60px;
	padding-bottom: 20px;
	.pricing-section-first {
		width: 75%;
		padding-bottom: 20px;
		.pricing-section-first-title {
			color: #333333;
		    font-family: "Metric HPE";
		    font-size: 48px;
		    font-weight: 600;
		    line-height: 54px;
		    align-items: center;
		    padding-bottom: 50px;
		}
		.pricing-section-first-content {
			color: #666666;
			font-family: "Metric HPE";
			font-size: 24px;
			font-weight: 300;
			line-height: 30px;
		}
	}
	.pricing-section-hero {
		width: 80%;
		justify-content: space-between;
		.pricing-section-hero-item {
			margin: 10px;
			width: 100%;
		}
	}
}

.get-started-div {
	.get-started-title {
		color: #f5a623;
		font-family: "Metric HPE";
		font-size: 24px;
	}
	.get-started-form {
		input {
			background: white;
			width: 65%;
		}
		.get-started-button {
			background: #0d233d;
			color: white;
			border: none;
			box-shadow: none !important;
			width: 30%;
			padding-top: 12px;
			padding-bottom: 15px;
			padding-left: 5px;
			padding-right: 5px;
			text-decoration: none;
		}
	}
	padding-left: 30px;
	padding-right: 30px;
	color: #f5a623;
}
.landing-footer-menu {
	margin-top: 15px;
	color: white;
	margin-bottom: 170px;
	a {
		color: white !important;
		font-weight: 500;
		font-size: 15px;
	}
}
.timeline {
	display: inline-flex;
	list-style: none;
	margin-top: 10px;
	li {
		&:last-child {
			padding-right: 0px;
		}
		.date {
			font-size: smaller;
			margin-left: -15px;
			margin-top: 15px;
		}
		.date-last {
			font-size: smaller;
			margin-left: -15px;
			margin-top: 5px;
		}
	}
	.circle {
		width: 24px;
		height: 24px;
		border-radius: 12px;
		background: #4496ff;
	}
	.line {
		background: #4496ff;
		height: 1px;
		border: 1px solid #4496ff;
		width: 50px;
		margin-top: -12px;
		margin-left: 24px;
	}
}

.ql-formats {
	button {
		min-width: 0px !important;
	}
}
.main-content {
	width: calc(100% - 78px);
	padding: 10px;
	overflow-x: auto;
}
.page-header {
	justify-content: space-between;
	padding-right: 20px;
	padding-left: 20px;
	width: 100%;
		> a {
			color: #333333 !important;
			font-family: "Metric HPE";
			font-size: 48px;
			font-weight: 600;
			line-height: 54px;
		    align-items: center;
		    text-decoration: none;
			&:hover {
				text-decoration: none;
			}
		}
}
.help-main {
	width: calc(100% - 78px);
	.help-main-header {
		height: 72px;
		background: #d8d8d8;
		vertical-align: middle;
		width: 100%;
		padding-top: 10px;
		justify-content: space-between;
		.help-main-header-title {
			width: 50%;
			padding-right: 10px;
			padding-left: 10px;
		}
	}
	.help-main-content {
		background: #f6f6f6;
		height: calc(100vh - 144px);
		> div.grommetux-split__column {
			height: 100%;
		}
		.requests-box {
			height: 100%;
		}
	}
	.help-body-first-col, .help-body-second-col {
		width: 50%;
	}
	.help-body-second-col {
		text-align: center;
		justify-content: center;
    	display: initial;
    	.background-area {
    		display: inherit;
			height: calc(100vh - 144px);
			justify-content: center;
			padding-top: 121px;
			
			z-index: 0;
    		.heart-logo {
				width: 100px;
			}
    	}
    	.droppable-area {
			overflow-x: auto;
			max-height: calc(100vh - 144px);
			height: calc(100vh - 144px);
			position: absolute;
			width: 43%;
    	}
	}
}
.main-content-item {
	margin-top: 20px;
	background: #ffffff;
}
.placeholder {
	height: 200px;
	background: #d9d9d9;
}
.help-main-left {
	padding-left: 20px;
	padding-right: 20px;
	background: #f6f6f6;
	overflow-x: auto;
	max-height: calc(100vh - 144px);
	min-height: calc(100vh - 144px);
}
.main-content-title {
	color: #333333 !important;
	font-family: "Metric HPE";
	font-size: 32px;
	padding-left: 24px;
	padding-right: 24px;
	font-weight: 600;
	align-items: center;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

.okay-button {
	justify-content: end;
}
.main-content-item-up {
	width: 100%;
}
.down-arrow-box {
    margin-left: 120px;
}
.linkdownicon {
	margin-top: 10px;
	margin-bottom: 10px;
}

.grommetux-split__column.grommetux-split__column--flex {
	display: table;
	width: 50%;
}
.login1 {
	background: url(/img/pricing1.png);
	background-size: 100% 100%;
	display: block;
	padding: 30px;
}
.Calendar-grid {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.Calendar-header {
	height: 50px;
	background: #0d233d;
	color: #fff;
	text-align: center;
	line-height: 50px;
	display: flex;
	font-size: 20px;
	justify-content: space-between;
}

.Calendar-header button {
	width: 50px;
	font-size: 20px;
	border: 0;
	background: transparent;
	color: #ddd;
	cursor: pointer;
}

.Calendar-grid-item {
	flex: 0 14.28571%;
	text-align: center;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.Calendar-grid-item.active {
	border: 2px black solid;
}
.Calendar-grid-item.nextMonth,
.Calendar-grid-item.prevMonth {
  color: #999;
}

.Calendar-grid-item:nth-child(7n+1) {
  border-left: 1px solid #ddd;
}

.Calendar-grid-item:nth-child(-n+7) {
  border-top: 1px solid #ddd;
}

/*
Modal related CSSes
*/

.modal-dialog {
	top: 0px !important;
	border-radius: 0px !important;
	&.narcissus_17w311v {
		padding-top: 20px;
		padding-bottom: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	.modal-close-button {
		margin-right: 20px;
	}
	.narcissus_86uon7 {
		display: none;
	}
	.modal-heading {
		color: #333333;
		font-family: "Metric HPE";
		font-size: 45px;
		font-weight: 300;
		line-height: 54px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.modal-body {
		padding-left: 20px;
		padding-right: 20px;
	}
	.modal-footer {
		bottom: 0px;
		background: #01a982;
		height: 60px;
		color: white;
		justify-content: space-between;
		.modal-footer-someone {
			padding-left: 15px;
			align-items: flex-end;
			font-weight: 100;
		}
		.modal-get-started {
			padding-right: 15px;
			color: white;
			font-weight: 100;
			font-size: 13px;
		}
	}
}



//// ////
.main-content {
	height: calc(100vh - 72px);
	.main-content-header {
		height: 72px;
		background-color: #d8d8d8;
		font-size: 24px;
		padding-left: 40px;
		padding-right: 40px;
		align-items: center;
		.main-content-header-title {
		    font-weight: 600;
		    font-size: 24px;
			color: #0e243d;
		}
		.social-box {
			width: 160px;
    		justify-content: space-between;
    		.social-item {
    			fill: #4299ff;
    		}
		}
	}

	.main-contacts-header {
		height: 72px;
		background-color: #4299ff;
		font-size: 24px;
		padding-left: 40px;
		padding-right: 40px;
		align-items: center;
	    justify-content: space-between;
		.search {
			margin-top: auto;
			margin-bottom: auto;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			.search-item {
				color: #ffffff;
				font-family: "Metric HPE";
				font-size: 24px;
				font-weight: 300;
				line-height: 30px;
				margin-top: auto;
				margin-bottom: auto;
				margin-right: 30px;
			}
			.search-icon {
				fill: #fff;
    			stroke: #fff;
			}
		}
		.close-icon {
			fill: #fff;
			stroke: #fff;
		}
	}
}

ul.tabs-nav.nav.navbar-nav.navbar-left {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

li.tab {
    display: inline-block;
    padding: 10px;
    margin-right: 5px;
}

a.tab-link.custom-link {
    background: #6161a7;
    color: white;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    text-align: center;
    cursor: pointer;
}

a.tab-link.custom-link.active {
    background: #969696;
}
.main-content {
	width: calc(100% - 78px);
    background: #f6f6f6;
	.content {
		width: 100%;
		.tab-content {
			width: 90%;
			text-align: center;
			margin: 0 auto;
			background: #ffffff;
			margin-top: 100px;
			padding-top: 50px;
			padding-bottom: 50px;
			.tab-content-title {
				color: #333333;
				font-family: "Metric HPE";
				font-size: 48px;
				font-weight: 600;
				line-height: 54px;
				
			}
			.tab-content-paragraph {
				color: #535353;
				font-family: "Metric HPE";
				font-size: 16px;
				font-weight: 400;
				line-height: 20px;
				margin-top: 30px;
				margin-bottom: 50px;
			}
			.tab-content-button {
				color: #333333;
				font-family: "Source Sans Pro";
				font-size: 19px;
				font-weight: 400;
			}
			.tab-content-paragraph2 {
				color: #535353;
				font-family: "Metric HPE";
				font-size: 16px;
				font-weight: 400;
				line-height: 20px;
				margin-top: 30px;
				margin-bottom: 50px;
				display: inline;
			}
		}
	}
	.main-contacts {
		height: calc(100vh - 150px);
		overflow-y: auto;
	    display: inherit;
		.contacts-list {
			background: #ffffff;
			margin-left: 40px;
			margin-right: 25px;
			height: 98px;
			margin-top: 20px;
			padding-left: 32px;
			padding-right: 24px;
			justify-content: space-between;
			.contacts-list-data {
				margin-top: auto;
				margin-bottom: auto;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				.contacts-list-image {
					border-radius: 25px;
					width: 50px;
					height: 50px;
				}
			}
			.contacts-list-social {
				margin-top: auto;
				margin-bottom: auto;
				width: 120px;
	    		.facebook-item {
	    			fill: #0d233d;
	    			margin-right: 20px;
	    		}
	    		.linkedin-item {
	    			fill: #0d233d;
	    			margin-right: 20px;
	    		}
	    		.twitter-item {
	    			fill: #4299ff;
	    			margin-right: 20px;
	    		}
			}
			.contacts-list-items {
				margin-top: auto;
				margin-bottom: auto;
				color: #666666;
				font-family: "Metric HPE";
				font-size: 19px;
				font-weight: 400;
				text-decoration: none;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				&:hover {
					text-decoration: none;
				}
			}
			.iconbtn {
				margin-top: auto;
				margin-bottom: auto;
				.icons {
					stroke: #4299ff; 
					fill: #4299ff;
				}
			}
		}
	}
	
}

.contacts-slide-bar-content {
	background: white;
	padding: 30px;
	.contacts-sidebar-form {
		height: 100vh;
	}
	.contacts-sidebar-header {
		padding: 0px;
	}
	.contacts-sidebar-title {
		color: #333333;
		font-family: "Metric HPE";
		font-size: 48px;
		font-weight: 300;
		line-height: 54px;
	}
	.contacts-sidebar-paragraph {
		font-family: "Metric HPE";
		font-size: 24px;
		font-weight: 300;
		line-height: 30px;
		margin-bottom: 30px;
		/* Text style for "Set the co" */
		color: #666666;
		/* Text style for "John Smith" */
		> a {
			color: #3583ff;
		}
	}
	.contacts-sidebar-formfield {
		margin-bottom: 12px;
		padding-bottom: 0px;
		.grommetux-select .grommetux-select__input{
			height: 25px;
		}
		.grommetux-button__icon {
			padding: 0px;
		}
	}
	.contacts-sidebar-formsubmit {
		position: absolute;
		bottom: 0px;
		.submit-button {
			background: #4299ff;
			color: white;
			border-color: #4299ff;
			border-radius: 0px;
			font-size: 17px;
			font-weight: 500;
		}
	}
}

.guest-content {
	color: white;
	text-align: center;
	height: calc(100vh - 69px);
	background: #0e243d;
	.guest-section {
		margin: auto;
		.guest-content-title {
			font-size: 48px;
			font-weight: 700;
		}
		.guest-content-sub-title {
			font-size: 32px;
			font-weight: 400;
			margin-top: 35px;
		}
		.guest-start-button {
			margin: auto;
			background: #4299ff;
			border-radius: 0px;
			border: none;
			margin-top: 20px;
			color: white;
			&:hover {
				border: none;
			}
		}
	}
}
.guest-footer {
	color: white;
	height: 69px;
	background: #01a982; 
	justify-content: space-between;
	.guest-footer-left-col {
		margin-top: auto;
		margin-bottom: auto;
		display: block;
		margin-left: 10px;
	}
	.guest-footer-right-col {
		margin-top: auto;
		margin-bottom: auto;
		margin-right: 10px;
		> a {
			color: white;
		}
	}
}
.guest-search {
	background: #f6f6f6;
	height: 100vh;
}
.guest-search-header {
	height: 190px;
	background: #0e243d;
	.guest-search-header-title {
		color: white;
		font-size: 48px;
		font-weight: 700;
		color: white;
		margin: auto;
	}
	.guest-menu-button {
		position: fixed;
		right:20px;
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
}
.guest-search-text {
    margin-left: auto;
	margin-right: auto;
    margin-top: -40px;
    width: 77%;
    > form {
    	width: 100% !important;
    }
}

.guest-search-results {
	background: #f6f6f6;
	height: calc(100vh - 259px);
	.guest-search-result-content {
		width: 77%;
		margin: auto;
		display: block;
	}
	.guest-search-item {
		width: 30%;
		min-width: 200px;
		height: 100px;
		background: #fff;
		margin-top: 20px;
		margin-bottom: 10px;
		margin-left: 20px;
		float: left;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
		justify-content: space-between;
	    padding: 5px;
		.guest-search-item-right-col {
			margin: auto;
			a {
				text-decoration: none;
				color: #666;
			}
		}
		.guest-search-item-left-col {
			margin: auto;
			.guest-search-item-right-col-name {
				font-size: 20px;
				font-weight: 700;
			}
		}
	}
}
@media screen and (max-width: 872px) {
	.guest-search-item {
		width: 45% !important;
	}
}
.guest-search-form {
	background: #4298fe;
	font-family: "Metric HPE";
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	> label {
		color: white;
		font-weight: 600;
		font-size: 18px;
		font-family: "Metric HPE" !important;
	}
	.guest-search-icon {
		svg {
			stroke: white;
		}
		::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		    color:    #fff;
		}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		   color:    #fff;
		   opacity:  1;
		}
		::-moz-placeholder { /* Mozilla Firefox 19+ */
		   color:    #fff;
		   opacity:  1;
		}
		:-ms-input-placeholder { /* Internet Explorer 10-11 */
		   color:    #fff;
		}
		::-ms-input-placeholder { /* Microsoft Edge */
		   color:    #fff;
		}
		input {
			color: white;
		}
	}
}
.guest-slide-bar-content {
	background: white;
	.guest-sidebar-header {
		// border-bottom: 1px solid #ccc;
		.guest-sidebar-title {
			margin-top: 10px;
			margin-bottom: 5px;
		}
	}
	.guest-sidebar-next-button {
		position: fixed;
		bottom: 20px;
		background: #4299ff;
		color: white;
		border-color: #4299ff;
		border-radius: 0px;
		font-size: 17px;
		font-weight: 500;
	    right: 30px;
		width: 100px;
		text-align: center;
	}
	.guest-second-step {
		margin-left: 30px;
		margin-right: 20px;
		padding-top: 0px;
		.guest-second-sidebar-button {
			text-align: right;
		}
		.guest-second-step-textarea {
			border-color: #4299ff;
		    border: 1px solid;
			margin-bottom: 19px;    
		}
		.grommetux-form-field--size-medium {
			border: none;
		}
		.checkbox-title {
			color: #333333;
			font-family: "Metric HPE";
			font-size: 15px;
			font-weight: 600;
			line-height: 24px;
		}
	}
}
.progtrckr {
	display: none;
}
.multistep__btn--prev {
	position: fixed;
	bottom: 30px;
	margin-left: 30px;
}
.multistep__btn--next {
	position: fixed;
	bottom: 30px;
	margin-left: 30px;
}


.dashboard-chart-part {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dashboard-chart-header {
	justify-content: space-between;
	padding-top: 10px;
	padding-bottom: 10px;
	background: white;
	.left-col {
		margin-left: 20px;
		.segmented-control {
			display: inline-flex;
			margin-right: 15px;
			input {
				display: none;
			}
			.label {
				border: 1px solid #e3e3e3;
				border-radius: 5px;
				transition: all 0.2s ease-out;
				width: 112px;
				&.selected {
					border: 2px #415463 solid;
				}
				&:last-child {
					border-right: 0px solid #e3e3e3;
				}
				margin-right: 15px;
				label {
					display: block;
					width: 100%;
					height: 100%;
					padding: 5px;
					cursor: pointer;
				}
			}
		}
	}
	.right-col {
		margin-right: 20px;
		.segmented-control {
			display: inline-flex;
			border-radius: 5px;
			border: 1px solid #e3e3e3;
			input {
				display: none;
			}
			.label {
				text-align: center;
				transition: all 0.2s ease-out;
				border-right: 1px solid #e3e3e3;
				&.selected {
					background: #e3e3e3;
				}
				&:last-child {
					border-right: 0px solid #e3e3e3;
				}
				label {
					display: block;
					width: 100%;
					height: 100%;
					padding: 10px;
					cursor: pointer;
				}
			}
		}
	}
}
.highcharts-legend, .highcharts-credits, .highcharts-yaxis {
	display: none;
}
.dashboard-section {
	.dashboard-section-left-col {
		width: 60%;
		a {
			color: #529eff;
		}
		.dashboard-contact-item {
			min-width: 150px;
			width: 30%;
			margin-right: 20px;
			background: white;
			.dashboard-contact-item-header {
				justify-content: space-between;
				.dashboard-contact-item-title {
					font-size: 15px;
					margin-top: 10px;
					margin-left: 10px;
					display: block;
					.sub-title {
						font-size: 12px;
						font-weight: 400;
					}
				}
				.contact-budget {
					margin-top: 10px;
					margin-right: 10px;
					width: 30px;
					height: 30px;
					border-radius: 15px;
					background: #4496ff;
					text-align: center;
					color: white;
					font-weight: 700;
					padding: 3px;
				}
			}
			.dashboard-contact-item-profile {
				padding-left: 10px;
				padding-right: 10px;
				padding-top: 10px;
				.dashboard-contact-item-profile-text {
					span {
						font-size: 12px;
					}
				}
			}
			.dashboard-contact-item-third-row {
				padding-left: 10px;
				padding-right: 10px;
				padding-top: 17px;
				.dashboard-contact-item-text {
					font-size: 18px;
					font-weight: 600;
				}
				.dashboard-contact-item-approves {
					.col {
						width: 50%;
					}
				}
			}
			.dashboard-contact-item-forth-row {
				padding-left: 10px;
				padding-right: 10px;
				padding-top: 17px;
				.text-help {
					font-size: 18px;
					font-weight: 600;
				}
				.grommetux-chart-base--width-medium, .grommetux-chart-layers {
					height: 100px !important;
				}
			}
		}
	}
	.dashboard-section-right-col {
		width: 40%;
		.dashboard-recent-instructions {
			background: white;
			padding-bottom: 17px;
			padding-top: 10px;
			padding-left: 20px;
			padding-right: 20px;
			thead {
				color: #ffbe4a;
			}
			tr {
				border-bottom: 1px solid rgba(0,0,0,0.15);
			}
			.timeline {
				margin: 0px;
				.line {
					width: 105px;
				}
			}
			.timeline .date, .timeline .date-last {
				display: none;
			}
		}
	}
}